* {
    box-sizing: border-box; /* Universal box sizing */
    padding: 0; /* Universal padding */
    margin: 0; /* Universal margin */
    scroll-behavior: smooth; /* Smooth scrolling */
}
 
body {
    background-color: #d9dcd6; /* Body background colour */
}

a {
    color: #ffffff; /* Attribute text colour */
    text-decoration: none; /* Attribute text decoration */
}

p {
    font-size: 16px; /* Paragraph font size */
}

/* Header Elements */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Header Fonts */
    background-color: #2a607c; /* Header Background Colour */
    color: #ffffff; /* Header Text Colour */
}

header h1 {
    display: inline-block; /* Header h1 display */
    font-size: 48px; /* Header h1 font size */
}

header h1 .seo {
    color: #d9dcd6; /* Header h1 .seo colour [Hori(SEO)on] - colour for SEO text */
}

header nav {
    padding-top: 15px; /* Nav padding */
    margin-right: 20px; /* Nav margin */
    float: right; /* Nav float */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Nav fonts */
    font-size: 20px; /* Nav font size */
}

header nav ul {
    list-style-type: none; /* List style type */
}

header nav ul li {
    display: inline-block; /* List display */
    margin-left: 25px; /* List margin */
}

/* Hero Full Screen Image*/
.hero {
    height: 800px; /* Image height */
    width: 100%; /* Image width */
    margin-bottom: 25px; /* Image margin */
    background-image: url("../images/digital-marketing-meeting.jpg"); /* Image source */
    background-size: cover; /* Background size */
    background-position: center; /* Background position */
}

/* Floats */
.float-left {
    float: left; /* Float left */
    margin-right: 25px; /* Float margin */
}

.float-right {
    float: right; /* Float right */
    margin-left: 25px; /* Float margin */
}

/* Main */
main {
    width: 75%; /* Main width */
    display: inline-block; /* Main display */
    margin-left: 20px; /* Main margin */
}

/* Benefits Elements*/
.benefits {
    margin-right: 20px; /* Benefits margin */
    padding: 20px; /* Benefits padding */
    clear: both; /* Benefits clear previous */
    float: right; /* Benefits float */
    width: 20%; /* Benefits width */
    height: 100%; /* Benefits height */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Benefits fonts */
    background-color: #2589bd; /* Benefits background colour */
}

.benefit-section {
    margin-bottom: 32px; /* Benefit-section margin */
    color: #ffffff; /* Benefit-section text colour */
}

.benefit-section h3 {
    margin-bottom: 10px; /* Benefit-section h3 margin*/
    text-align: center; /* Benefit-section h3 text alligment */
}

.benefit-section img {
    display: block; /* Benefit-section img display */
    margin: 10px auto; /* Benefit-section img margin */
    max-width: 150px; /* Benefit-section img max-width*/
}

/* Services Elements*/
.services {
    margin-bottom: 20px; /* Services margin */
    padding: 50px; /* Services padding */
    height: 300px; /* Services height */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Services fonts */
    background-color: #0072bb; /* Services background colour */
    color: #ffffff; /* Services text colour */
}

.services img {
    max-height: 200px; /* Services img max height*/
}

.services h2 {
    margin-bottom: 20px; /* Services h2 margin*/
    font-size: 36px; /* Services h2 font size*/
}

/* Footer Elements*/
footer {
    padding: 30px; /* Footer padding */
    clear: both; /* Footer clear previous */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Footer fonts */
    text-align: center; /* Footer text alligment */
}

footer h2 {
    font-size: 20px; /* Footer h2 font size */
}
